.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 93.68%;
    min-width: 0;
    margin: 0 auto 0;
    border: red solid 2px;
  }