.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style:  normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-rendering: optimizeLegibility; 
    color: #FFFFFF;
    text-align: center;
    max-width: 560px;
    padding: 0 0 32px;
    margin: 0;
  }

  @media screen and (max-width: 760px) {
    .cover__title {
      font-size: 32px;
      line-height: 1.1;
      max-width: 255px;
      padding: 0 0 16px;
    }
  }